<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Orders</title>
</head>
<body>

<h1>Orders</h1>

{{#hasOrders}}

    <h2>Active Orders</h2>

    {{#activeOrders}}
        <p>
            Order ID: {{orderId}} <br>
            Order Status: {{status}} <br>
            Message: {{orderMessage}}
        </p>
        <hr>
    {{/activeOrders}}

    <h2>Completed Orders</h2>
    {{#completedOrders}}
        <p>
            Order ID: {{orderId}} <br>
            Order Status: {{status}}
        </p>
        <hr>
    {{/completedOrders}}

{{/hasOrders}}
<p>
    Order ID: {{orderId}} <br>
    Items: {{items}} <br>
    Total Price: {{totalPrice}} <br>
    Status: {{status}}
</p>
<form action="/saveorder" method="post">

    <label>Items</label>
    <input type="text" name="items">

    <label>Total Price</label>
    <input type="number" name="totalPrice">

    <button type="submit">Create Order</button>

</form>

</body>
</html>